.App {
  text-align: center;
  background-color: black;
  color: #ffffff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  background-color: black;
}

button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-bottom: 5vh;
  margin-top: 2vh
}

button:hover {
  color: #99FFFF;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: large;
}
img {
max-width: 90vw;
}